.app__header {
    background-color: rgba(0, 250, 12, 0.39);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: red;
   
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img {
    width: 80%;
   
}

.app__wrapper_img img{
    border-radius: 150px;
}

.custom__button {background-color: green;}